<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<a class="brand" href="#">Green Zombies</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="#/timeline">Actividad</a></li>
					<li><a href="#/diet">Mis Dietas</a></li>
					<li><a href="#/calendar">Calendario</a></li>
					<li><a href="#/evolution">Evolucion</a></li>
					<li><a href="#/profile">Profile</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
