<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<a class="brand" href="#">Template</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="#">Option1</a></li>
					<li><a href="#/option2">Option2</a></li>
					<li><a href="#/option3">Option3</a></li>
					<li><a href="#/option4">Option4</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
